body {
  margin: 0;
  background: #222;
  font-family: sans-serif;
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
}
h2 {
  color: white;
  margin-top: 20px;
}
input {
  margin: 20px;
}

/* کتاب */
.book {
  position: relative;
  width: 900px; /* دو صفحه کنار هم */
  height: 600px;
  perspective: 1000px;
  margin: 0px 0px 0px 210px;
  padding: 100px;
}

/* هر ورق */
.paper {
  position: absolute;
  width: 450px; /* یک صفحه */
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s;
  left: 50%;
  /* margin-left: -175px; */
}

/* وقتی ورق زده شد */
.flipped {
  transform: rotateY(-180deg);
}

/* صفحات front/back */
.page {
  position: absolute;
  width: 450px;
  height: 100%;
  top: 0;
  background: rgb(28, 131, 216);
  border: 1px solid #ccc;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  backface-visibility: hidden; /* اضافه شد */
  box-sizing: content-box;
  padding: 50px;
  margin-left: 108px;
  border: 4px solid rgb(122, 185, 244);
  border-radius: 10px;
}

.front {
  right: 0;
}
.back {
  left: 0;
  transform: rotateY(180deg);
}

.page canvas {
  width: max-content;
  height: max-content;
  transform: scale(1);
  object-fit: contain;
}

.controls {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
button:nth-of-type(1) {
  padding: 10px 5px;
  margin: 5px;
  font-size: 16px;
  float: left;
}
button:nth-of-type(2) {
  padding: 10px 5px;
  margin: 5px;
  font-size: 16px;
  float: right;
}
